.user-list {
    background-color: white;
    list-style-type: none;
    padding: 1rem;
    border-radius: 6px;
    border: 1 px solid #1f1f1f;
    width: fit-content;
    justify-content: center;
    margin: 2rem auto;
}

.user-info {
    background-color: white;
    justify-content: center;
}

h4 {
    color: black;
    background-color: white;
    border: 1px solid #1f1f1f;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
    padding: 0.5rem;
}

h4:hover {
    color: white;
    background-color: black;
    transform: scale(1.09);
}



